{% extends 'base.html.twig' %}

{% block title %}Lien{% endblock %}

{% block body %}
    <h1>Lien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lien.id }}</td>
            </tr>
            <tr>
                <th>Lien_url</th>
                <td>{{ lien.lienUrl }}</td>
            </tr>
            <tr>
                <th>Lien_titre</th>
                <td>{{ lien.lienTitre }}</td>
            </tr>
            <tr>
                <th>Lien_desc</th>
                <td>{{ lien.lienDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lien_index') }}">back to list</a>

    <a href="{{ path('app_lien_edit', {'id': lien.id}) }}">edit</a>

    {{ include('lien/_delete_form.html.twig') }}
{% endblock %}
